{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <span class="fa fa-coffee logo wow fadeInLeft"></span>
        </div>
        <div class="col-md-8 wow fadeIn">
            <h1>About Brew</h1>
            <p>Brew is a pet-project. I love coffee and know a few things about how to make it, but I often mix up all the different best practices for the different brewing techniques. This page is the result of my monkey-brained need for a clean, simple coffee brewing reference.</p>
            <p>If you want to see more of my projects, feel free to check out my <a href="https://github.com/trgeiger/brew"><span class="fa fa-github" aria-hidden="true"></span> GitHub</a>.</p>
        </div>
    </div>
</div>

<!-- add contact form below -->

{% endblock %}
