{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid text-center">
    <h1>About 'Brew'</h1>
    <p>Brew is a pet-project. I love coffee and know a few things about how to make it, but I often mix up all the different best practices for the different brewing techniques. This page is the result of my monkey-brained need for a clean, simple coffee brewing reference.</p>
    <p>If you want to see more of my projects, feel free to checkout my GitHub, and if you want to reach out, feel free to shoot me a message below.</p>
</div>

<!-- add contact form below -->

{% endblock %}
