{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Brew Log Notebook{% endblock %}

{% block page_content %}
<div class="container">
<div class="page-header wow fadeIn">
    <h1>Write a log</h1>
</div>

<div class="col-md-6">
    {{ wtf.quick_form(form) }}
</div>

<div class="col-md-6">
    <h4>Recent Logs</h2>
    <ul class="brewlogs">
    {% for brewlog in brewlogs %}
        <li class="brewlog">
            <a href="{{ url_for('.abrewlog', brewlogid=brewlog.id) }}">{{ brewlog.origin }}, {{ brewlog.timestamp.strftime("%A %x") }}</a>
    {% endfor %}
    </ul>
</div>
</div>
{% endblock %}
