{% extends "base.html" %}

{% block page_content %}
{% if current_user.is_authenticated %}


<div class="container-fluid text-center wow fadeIn" id="top">
    <h2 class="text-center">Hello, {{ current_user.username }}!</h2>
    <h1 class="text-center">What are you making?</h1>
</div>

{% else %}

<div class="jumbotron text-center">
    <h1 class="page-header wow fadeIn">Welcome to Brew</h1>
    <p class="wow fadeIn">Brew is a simple brew log and reference manual for crafting and tracking your best cups of coffee.</p>
    <p class="wow fadeIn">To get started, either <a href="{{ url_for('auth.signup') }}">create your free account</a> or keep scrolling for more information.</p>
</div>

<div class="container" id="reference">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="page-header">Reference</h2>
            <p>First and foremost, Brew is a convenient reference source for making coffee.</p>
            <ul>
                <li>Use Brew as your personal handbook for crafting the perfect cup.</li>
                <li>Keep straight the differences in bloom time and steep time and water-to-coffee ratio and grind size for all of your different coffee brewers.</li>
                <li>Learn about new brewing methods like Aeropress, Chemex, and vacuum pots, along with the perfect recipes for each.</li>
            </ul>
        </div>
        <div class="col-sm-4 text-center wow fadeInLeft" data-wow-offset="250">
            <span class="fa fa-book logo"></span>
        </div>
    </div>
 </div>

<div class="container" id="track">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="page-header">Track</h2>
            <p>Brew can also help you keep track of every pot and cup.</p>
            <ul>
                <li>Create your free account to keep track of all the important variables in your brew method.</li>
                <li>Maintain a persistent history of your favorite beans and flavor profiles.</li>
                <li>Rate every cup so you can see whether that new recipe is too full-bodied, or just right.</li>
            </ul>
        </div>
        <div class="col-sm-4 text-center wow fadeInLeft" data-wow-offset="250">
            <span class="fa fa-bar-chart logo"></span>
        </div>
    </div>
</div>

<div class="container" id="perfect">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="page-header">Tweak</h2>
            <p>Let Brew be your go-to source for all things coffee.</p>
            <ul>
                <li>Made with mobile devices in mind, Brew works perfectly as an app-like webpage. Just save a shortcut to Brew on your phone's main screen and have the power of Brew and your BrewLog always on the ready.</li>
                <li>Brew is also open-source, so feel free to not only tweak your coffee, but Brew's source code as well.</li>
        </div>
        <div class="col-sm-4 text-center wow fadeInLeft" data-wow-offset="250">
            <span class="fa fa-flask logo"></span>
        </div>
    </div>
</div>


{% endif %}

<div id="brewmethods" class="container text-center">
  <h2>Pick Your Poison</h2>
  <h4>Brew Methods</h4>
  <br>
  <div class="row wow fadeInUp">
    <div class="col-sm-4  wow fadeInUp">
      <span class="fa fa-coffee logo-small"></span>
      <h4>CHEMEX</h4>
      <p>Called "one of the best-designed products of modern times". Also makes a clean cup of coffee.</p>
    </div>
    <div class="col-sm-4  wow fadeInUp">
      <span class="fa fa-pencil logo-small"></span>
      <h4>FRENCH PRESS</h4>
      <p>The classic coffee press, perfect for a full-bodied cup with no hassle.</p>
    </div>
    <div class="col-sm-4  wow fadeInUp">
      <span class="fa fa-coffee logo-small"></span>
      <h4>MOKA POT</h4>
      <p>This "small machine" is a staple in Europe and makes a concentrated, espresso-like coffee.</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4  wow fadeInUp">
      <span class="fa fa-book logo-small"></span>
      <h4>Hario V60</h4>
      <p>Darling of brew bars, the Hario V60 offers great control over brewing extraction.</p>
    </div>
    <div class="col-sm-4  wow fadeInUp">
      <span class="fa fa-birthday-cake logo-small"></span>
      <h4>VACUUM POT</h4>
      <p>For those that desire an alchemical approach to coffee&mdash;and a clean cup.</p>
    </div>
    <div class="col-sm-4  wow fadeInUp">
      <span class="fa fa-cloud logo-small"></span>
      <h4>AEROPRESS</h4>
      <p>The result of its creator's coffee obsession, the Aeropress is the French Press's littler, more discerning cousin.</p>
    </div>
  </div>
</div>

{% endblock %}
